// Toggle Switch
.toggle-switch {
  &__label {
    opacity: 0.5;
  }

  &__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1.5rem;
    width: 56px;
    height: 32px;
    background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border-radius: 16px;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0 4px;
    transition: all 0.5s ease;
    &:hover {
      opacity: 0.5;
    }
  }

  &__circle {
    background: $clr-grey-1;
    width: 24px;
    height: 24px;
    align-self: center;
    border-radius: 50%;
    align-self: flex-end;
  }
  &__circle-annually {
    align-self: start;
  }
}
